<h1>Welcome to Restaurant Finder</h1>

<%= link_to "Sign up", signup_path %>

<br><br>

<%= link_to "Log in", login_path %>

<br><br>

<%= link_to "Log in with Google!", auth_google_oauth2_callback_path %>

